body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-modal {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  text-align: center;
}

.logo {
  width: 50px;
  margin-bottom: 10px;
}

.login-header h2 {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-bottom: 20px;
}

.login-message {
  font-size: 14px;
  margin-bottom: 20px;
  color: #333;
}

.email-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.next-button {
  width: 100%;
  padding: 10px;
  background-color: #a78bfa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.or-separator {
  margin: 20px 0;
  color: #777;
  font-size: 12px;
}

.google-login-button {
  width: 100%;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.google-icon {
  margin-right: 8px;
}

.terms-and-privacy {
  font-size: 12px;
  color: #777;
  margin-top: 15px;
}

.terms-and-privacy a {
  color: #4285f4;
  text-decoration: none;
}
